@import '~styles/common.scss';

.wrapper {
  background-color: $header_color;
  height: $header_height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 2rem 11rem;

  @media screen and (max-width: 868px) {
    margin-top: 0;
    padding: 0 2rem;
  }
}
